
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f5f9;
  font-size: 44px;
  padding: 10px;
  padding-top: 10px;
}

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e293b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  padding: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 3px solid #94a3b8;
  border-radius: 6px;
  background-color: #0f172a;
}

.scoreCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  justify-items: center;
  color:#f1f5f9;
  font-size: 22px;
  font-weight: 500px;
  padding: 10px;
  height: 180px;
  gap: 5px;
  margin-bottom: 50px;
  width: 220px;
  border: 2px solid #94a3b8;
  box-shadow: #f1f5f9 0px 3px 8px;
}

#winnerID {
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
  border: 2px solid #94a3b8;
  box-shadow: #94a3b8 0px 3px 8px;;
}

#display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 10px;
  border: 2px solid #94a3b8;
  
}

.cell_ {
  background-color: #f8fafc;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.cell_.x { 
  background: url('./images/x.png'), #e2e8f0;
  background-color: white;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;


}

.cell_.o {
  background: url('./images/O.jpg'), #e2e8f0;
  background-color: white;
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f5f9;
  font-size: 14px;
  padding: 22px;
}

